ul {
    list-style-type: none;
  }
.li1 {
    font-size: 30px;
}
.contact {
    font-size: 30px;
    color: green;
}

.foont {
    font-family: 'Josefin Sans', cursive;
}

.back {
    background: url('../bg.jpg') no-repeat;
    background-size: 100%;
    filter: alpha(opacity=40);
}