ul {
    list-style-type: none;
  }
.li1 {
    font-size: 30px;
}
.contact {
    font-size: 30px;
    color: green;
}

.tables {
    font-size: 15px;
}

.thead{
    font-size: 15px;
}

.disclamer {
    font-size: 14px;
}

.foont {
    font-family: 'Josefin Sans', cursive;
}

.back {
    background: url('./wbg1.png') repeat;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.homeback {
    background: url('./wbg1.png') repeat;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.bannerback {
    background: url('./wbg3.jpg') repeat;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.mleft {
    margin-left: 30px;
}

mright {
    margin-left: 30px;
}