ul {
    list-style-type: none;
  }
.li1 {
    font-size: 30px;
}
.contact {
    font-size: 30px;
    color: green;
}

.tables {
    font-size: 15px;
}

.thead{
    font-size: 15px;
}

.disclamer {
    font-size: 14px;
}

.foont {
    font-family: 'Josefin Sans', cursive;
}

.tutor {
    font-family: 'Josefin Sans', cursive;
    font-size: 25px;
    font-weight: bold;
}

.tutorback {
    background-color: #ffffff;
}

.back {
    /* background: url('./wbg0.png') repeat; */
    background-color: #ffffff;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.homeback {
    /* background: url('./wbg1.png') repeat; */
    background-color: #ffffff;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.bannerback {
    /* background: url('./wbg3.jpg') repeat; */
    background-color: #ffffff;
    background-size: 100%;
    filter: alpha(opacity=40);
}

.bannerback:hover {
    background-color:#bdbdbd
}


.mleft {
    margin-left: 30px;
}

mright {
    margin-left: 30px;
}

.onhover:hover{
    background-color: #8f8f8f;
}